<h1>Откройте интернет-магазин</h1>
    <p>Сервис Universe-HTT для управления интернет-магазином позволяет быстро
      организовать розничную или оптовую торговлю товарами, представленными в
      нашем справочнике товаров. </p>
    <p>Наилучшим образом этот сервис подходит для оптовых и розничных компаний,
      использующих штихкоды для идентификации товаров в собственной
      корпоративной информационной системе. В этом случае предприятию достаточно
      подключить выгрузку цен и, если необходимо, остатков товаров с
      идентификацией по штрихкодам из своей системы в Universe-HTT, а также
      импорт документов заказов от покупателей. Интерфейс с сервисом
      осуществляется методами SOAP.</p>
    <p>Если вы не можете или не хотите интегрировать собственную корпоративную
      систему с сервисами Universe-HTT, либо только открываете новый бизнес, то
      можете воспользоваться системой управления предприятием <a title="Papyrus"

        href="http://www.petroglif.ru/programmnie-resheniya/papyrus-2">Papyrus</a>,
      в которую уже включены все необходимые инструменты для интеграции с
      Universe-HTT.</p>
    <h3>Преимущества сервиса интернет-магазинов Universe-HTT</h3>
    <ul>
      <li>Готовый хорошо классифицированный справочник товаров, решающий самую
        трудоемкую проблему наполнения контента интернет-магазина</li>
      <li>Унифицированный справочник контрагентов</li>
      <li>Простая интеграция с корпоративной системой</li>
      <li>Централизованное обеспечение поисковой оптимизации</li>
      <li>Возможность передачи информации о новых товарах и изображений из
        корпоративной системы на сервер Universe-HTT</li>
    </ul>
    Тестовый вариант магазина вы можете увидеть по <a href="https://uhtt.ru/web/store">ссылке</a>.<br>
    Спецификация методов SOAP находится по <a href="http://www.uhtt.ru/dispatcher/ws/iface?wsdl">адресу</a>.
    <br>
    <br>
    <h3>Ограничения сервиса интернет-магазинов Universe-HTT</h3>
    <ul>
      <li>Посредством этого сервиса можно торговать только теми товарами,
        которые имеют уникальный штрихкод EAN или UPC</li>
      <li>Сервис не работает с товарами, имеющими штрихкоды EAN-13,
        начинающимися с 2 (внутренние штрихкоды)</li>
      <li>Справочник товаров модерируется. То есть, вы будете иметь ограниченные
        возможности по управлению наименованиями и классификацией товаров
        (принадлежность группам, торговым маркам, и др.)</li>
    </ul>