## Universe-HTT / 2012, 2013
## view_dc_manager.vm
## Download Center Manager
##

<style type="text/css">
	div#view_dc_manager__layout {
		margin-top: 5px;
		min-height: 350px;
		color: #222222;
	}
	div#view_dc_manager_folder_tree__blk {
		border: 1px gray solid;
		height: 100%
	}
	table#view_dc_manager_folder_content__blk {
		border: 1px gray solid;
		margin-top: 0;
		margin-right: 5px;
		margin-left: 5px;
	}
</style>

<div id="view_dc_manager__layout">
	<font face="Arial">
		<table class="uui-w100pct uui-h100pct">
			<tbody class="uui-w100pct">
				<tr class="uui-w100pct">
					<td class="uui-valign-top uui-h100pct" style="width:25%; margin-right:5px;">
						<div id="view_dc_manager_folder_tree__blk"></div>
					</td>
					<td class="uui-valign-top uui-h100pct" id="view_dc_manager_folder_content__blk"></td>
				</tr>
			</tbody>
		</table>
	</font>
</div>

<script type="text/javascript">
	
	var DownloadCenterForm = {
		## /* Instance */
		Dialog : UHTT.Dialog.List.getObjByProperty("ID", $("#view_dc_manager__layout").parent("div.uhtt-dialog").attr("id")),
		## /* --- */
		Blk_FolderTree : $("#view_dc_manager_folder_tree__blk"),
		Blk_FolderContent : $("#view_dc_manager_folder_content__blk"),
		## /* --- */
		CurrentFolderID : 0,
		## /* --- */
		updateView : function() {
			this.Blk_FolderTree.html(UHTT.Content.get(
				"DC_FOLDER_TREE",
				{
					CLASS_item:          "xtree-item",
					CLASS_hitarea:       "xtree-hitarea",
					CLASS_hitareaOpened: "xtree-hitarea-opened",
					CLASS_hitareaClosed: "xtree-hitarea-closed",
					CLASS_itemContainer: "xtree-item-container",
					CLASS_itemImage:     "xtree-item-img",
					CLASS_itemTextBlk:   "xtree-item-text-blk",
					CLASS_itemText:      "xtree-item-text",
					CLASS_itemClicked:   "xtree-item-clicked",
				}
			));
			this.drawFolderContent();
		},
		drawFolderContent : function() {
			this.Blk_FolderContent.html(UHTT.Content.get("DC_FOLDER_CONTENT", { FolderID:this.CurrentFolderID }));
		},
		init : function() {
			## /* Указатель на контекст объекта */
			var _this = this;
			## /* Отрисовка иерархии папок и файлов */
			_this.updateView();
			## /* Инициализация контекстного меню дерева папок */
			contextMenuEx(_this.Blk_FolderTree, "div.xtree-item-container",
				[
					{ "Создать папку": function() {
							var pid = $(this).attr("itemID");
							var name = prompt("Введите имя");
							if(!isEmpty(name)) {
								UHTT.DC.Editor.createFolder(
									name,
									pid,
									// success handler
									function(data, status, hdr) {},
									// error handler
									function(request, status, error) {
										var msg = decodeURIComponent(request.getResponseHeader("X-UHTT-Error"));
										if(!isEmpty(msg))
											UHTT.Messenger.show(msg, "/rsrc/images/error_48.png");
									},
									// done handler
									function() {
										_this.updateView();
									}
								);
							}
						}
					},
					{ "Загрузить файл": function() {
							var parentID = $(this).attr("itemID");
							UHTT.DC.Editor.openCreateFileDialog(parentID);
						}
					}
				],
				{ theme:"xp" }
			);
			## /* События */
			_this.Blk_FolderContent.delegate("tr", "dblclick", function() { 
				var type = $(this).attr("IType");
				if(type == 1) {
					_this.CurrentFolderID = $(this).attr("IID");
					if(!isEmpty(_this.CurrentFolderID))
						_this.drawFolderContent();
				}
				else if(type == 2) {
					var key = $(this).attr("IKey");
					UHTT.DC.download("/dispatcher/dc/download?key=" + key);
				}
				else if(type == 3) {
					var id = $(this).attr("IID");
					UHTT.DC.Editor.openFileVersionViewForm(id);
				}
			}).delegate("tr", "mousedown", function(event) {
				var tbody = $(this).closest("tbody");
				jQuery.each(tbody.find("tr.clicked"), function() {
					$(this).removeClass("clicked");
				});
	            $(this).addClass("clicked");
			});
			## /* Инициализация контекстного меню */
			contextMenuEx(_this.Blk_FolderContent, "tr.dc-folder",
				[
					{ "Переименовать": function() {
							var id = $(this).attr("IID");
							var pid = $(this).attr("PID");
							var type = $(this).attr("IType");
							var name = $(this).attr("IName");
							var new_name = prompt("Введите имя", name);
							if(!isEmpty(new_name)) {
								UHTT.DC.Editor.renameItem(
									id,
									new_name,
									// success
									function() {
									},
									// error
									function(request, status, error) {
										var msg = decodeURIComponent(request.getResponseHeader("X-UHTT-Error"));
										if(!isEmpty(msg))
											UHTT.Messenger.show(msg, "/rsrc/images/error_48.png");
									},
									// done
									function() {
										_this.updateView();
									}									
								);
							}
						}
					},
					{ "Удалить": function() {
							var id = $(this).attr("IID");
							var type = $(this).attr("IType");
							if(type == 1) {
								if(confirm("Вы действительно хотите удалить каталог?")) {
									UHTT.DC.Editor.deleteFolder(
										id,
										// success handler
										null,
										// error handler
										function(request, status, error) {
											var msg = decodeURIComponent(request.getResponseHeader("X-UHTT-Error"));
											if(!isEmpty(msg))
												UHTT.Messenger.show(msg, "/rsrc/images/error_48.png");
										},
										// done handler
										function() {
											_this.updateView();
										}
									);
								}
							}
						}
					}
				],
				{ theme:"xp" }
			);
			## /* --- */
			contextMenuEx(_this.Blk_FolderContent, "tr.dc-file",
				[
					{ "<b>Скачать</b>": function() {
							var key = $(this).attr("IKey");
							UHTT.DC.download("/dispatcher/dc/download?key=" + key);
						}
					},
					{ "Ссылка": function() {
							var site_name = "";
							var type = $(this).attr("IType");
							{
								var url = document.URL;
								url = url.replace("http://", "");
								url = url.replace("https://", "");
								var parts = url.split("/");
								site_name = parts[0];
							}
							var key = $(this).attr("IKey");
							alert("Ссылка для скачивания файла: " + "http://" + site_name + "/dispatcher/dc/download?key=" + key);
						}
					},
					$.contextMenu.separator,
					{ "Изменить": function() {
							var id = $(this).attr("IID");
							var parentID = $(this).attr("PID");
							var type = $(this).attr("IType");
							var title = $(this).attr("ITitle");
							var key = $(this).attr("IKey");
							var memo = $(this).attr("IMemo");
							UHTT.DC.Editor.openUpdateFileDialog(id, parentID, type, title, key, memo);
						}
					},
					{ "Добавить версию": function() {
							var id = $(this).attr("IID");
							UHTT.DC.Editor.openAddVersionDialog(id);
						}
					},
					{ "Удалить": function() {
							var id = $(this).attr("IID");
							var type = $(this).attr("IType");
							var ok = confirm("Вы действительно хотите удалить файл?");
							if(ok && (type == 3))
								ok = confirm("ВНИМАНИЕ! Удаляемый файл является версионным! Продолжить?");
							if(ok) {
								UHTT.DC.Editor.deleteFile(
									id,
									// success_handler
									null,
									// error handler
									function(request, status, error) {
										var msg = decodeURIComponent(request.getResponseHeader("X-UHTT-Error"));
										if(!isEmpty(msg))
											UHTT.Messenger.show(msg, "/rsrc/images/error_48.png");
									},
									// done handler
									function() {
										_this.updateView();
									}
								);
							}
						}
					},
					$.contextMenu.separator,
					{ "Права доступа": function() {
							var id = $(this).attr("IID");
							var name = $(this).attr("IName");
							UHTT.DC.Editor.openRightsEditorDialog(id, name);
						}
					}
				],
				{ theme:"xp" }
			);
		}
	};
	## /* Инициализация формы */
	$(document).ready(function(){
		DownloadCenterForm.init();
	});
</script>