/* ---------- Universe-HTT CSS ---------- */

div.ui-widget {
	/* font-family:Arial,Helvetica,Verdana,sans-serif; */
	font-family:Segoe UI,Arial,sans-serif;
	font-size:11px;
}
div.ui-dialog {
	overflow:visible;
}
div.ui-dialog .ui-dialog-titlebar {
    padding: 0.2em 0.8em;
    position: relative;
}
div.ui-dialog .ui-dialog-content {
	position:static;
}
.sprawling {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.border-box {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* IE 8+ */
}
input.uhtt-input {
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
input.uhtt-input-with-button {
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
	-moz-border-top-left-radius:4px;
	-moz-border-bottom-left-radius:4px;
	-webkit-border-top-left-radius:4px;
	-webkit-border-bottom-left-radius:4px;
}
input.uhtt-button-with-input {
	height:26px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	-moz-border-top-left-radius:0;
	-moz-border-bottom-left-radius:0;
	-webkit-border-top-left-radius:0;
	-webkit-border-bottom-left-radius:0;
}
input.uhtt-frm-filt-label-item-btn {
	font-size:12px;
	font-weight:normal;
	padding:2px;
	margin:0px;
}
select.uhtt-select {
	padding:4px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
input.uhtt-search-field {
	background-image:url("../images/search_24.png");
	background-repeat:no-repeat;
	padding-left:25px;
}
input.uhtt-barcode-field {
	background-image:url("../images/barcode_24.png");
	background-repeat:no-repeat;
	padding-left:25px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
input.uhtt-drop-down-menu-text-field {
	height:26px;
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
	-moz-border-top-left-radius:4px;
	-moz-border-bottom-left-radius:4px;
	-webkit-border-top-left-radius:4px;
	-webkit-border-bottom-left-radius:4px;
}
input.uhtt-drop-down-menu-button {
	height:26px;
	width:20px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	-moz-border-top-left-radius:0;
	-moz-border-bottom-left-radius:0;
	-webkit-border-top-left-radius:0;
	-webkit-border-bottom-left-radius:0;
	background: transparent;
	background-image:url("../images/arrow_drop_down_16.png");
	background-position:center center;
	background-repeat:no-repeat;
	
}
.ie input.uhtt-drop-down-menu-button {
	top: 2px;
	position: relative;
}

input.uhtt-drop-down-menu-button:hover, input.uhtt-drop-down-menu-button:focus {
	background-image:url("../images/arrow_drop_down_16.png");
	background-position:center center;
}

input.uhtt-add-button {
	background-image:url("../images/plus.png");
	background-position:center center;
	background-repeat:no-repeat;
	width:20px;
	height:20px;
}
input.uhtt-add-button:hover, input.uhtt-add-button:focus {
	background-image:url("../images/plus.png");
	background-position:center center;
	background-repeat:no-repeat;
}

input.uhtt-remove-button {
	background-image:url("../images/delete.png");
	background-position:center center;
	background-repeat:no-repeat;
	width:20px;
	height:20px;
}
input.uhtt-remove-button:hover, input.uhtt-remove-button:focus {
	background-image:url("../images/delete.png");
	background-position:center center;
	background-repeat:no-repeat;
}

input.uhtt-edit-button {
	background-image:url("../images/edit.png");
	background-position:center center;
	background-repeat:no-repeat;
	width:20px;
	height:20px;
}
input.uhtt-edit-button:hover, input.uhtt-edit-button:focus {
	background-image:url("../images/edit.png");
	background-position:center center;
	background-repeat:no-repeat;
}

input.uhtt-calendar-button {
	background-image:url("../images/calendar_16.png");
	background-position:center center;
	background-repeat:no-repeat;
	width:26px;
	height:26px;
}
input.uhtt-calendar-button:hover, input.uhtt-calendar-button:focus {
	background-image:url("../images/calendar_16.png");
	background-position:center center;
	background-repeat:no-repeat;
}

div.uhtt-drop-down-div {
	position:absolute;
	overflow:visible;
	display:none;
	z-index:10000;
}
table.uhtt-fields-table {
	border-collapse:separate;
	border-spacing:8px 5px;
}
div.uhtt-frm-filt-label {
	background:gray;
	height:30px;
	color:white;
	text-shadow:0 1px 5px #ffffff;
	font-size:16px;
	font-style:italic;
	padding-top:2px;
	padding-right:4px;
	padding-bottom:2px;
	padding-left:20px;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}
.uhtt-null-alpha {
	_filter:none;
    -moz-opacity:none;  
    opacity:none;
}
div.uhtt-block-ui-layout {
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	_filter:alpha(opacity=0);
    -moz-opacity:0;
    opacity:0;
	cursor:wait;
	z-index:2147483646;
}
div.uhtt-block-ui-message {
	display:none;
	position:fixed;
	top:45%;
	left:45%;
	vertical-align:middle;
	background-color:white;
	_filter:alpha(opacity=80);
    -moz-opacity:0.8;
    opacity:0.8;
    color:#1C1C1C;
    padding-left:10px;
    padding-right:5px;
    border-radius:4px;
    -moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-color:#9E9E9E;
    border-style:solid;
    border-width:1px;
    z-index:2147483647;
}
div.uhtt-popup-message {
	display:none;
	position:fixed;
	top:10px;
	right:10px;
	max-width:500px;
	min-width:200px;
	border:none;
	padding:5px;
	background-color:#414445;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	opacity:0.9;
	color:#fff;
	z-index:1000000;
	font-size:12px;
}
div.uhtt-error-msg {
	display:none;
	background-color:#FFDDDD;
	border:1px #FF0000 solid;
	padding:3px;
	color:red;
	font-weight:bold;
}
div.uhtt-browser-title-blk {
	display:none;
	clear:both;
	position:relative;
	height:25px;
	border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
	background:url("../images/navigation/bg.png") repeat-x scroll 0 0 #414445;
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.5);
}
div.uhtt-browser-title-blk span {
	display:inline-block;
	padding:4px 15px;
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
}
div.uhtt-browser-control-blk {
	display:inline-block;
	float:right;
	width:100px;
	height:25px;
	padding:0 4px;
	border-radius:4px;
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.8) inset;
}
a.uhtt-browser-nav-link {
	padding:13px;
	cursor:pointer;
	text-decoration:none;
}
a.uhtt-browser-nav-backward-link {
	float:left;
	background:url("../images/left.png") no-repeat center center;
}
a.uhtt-browser-nav-backward-link-disabled {
	cursor:default;
	background:url("../images/left_disabled.png") no-repeat center center;
}
a.uhtt-browser-nav-forward-link {
	float:left;
	background:url("../images/right.png") no-repeat center center;
}
a.uhtt-browser-nav-forward-link-disabled {
	cursor:default;
	background:url("../images/right_disabled.png") no-repeat center center;
}
a.uhtt-browser-nav-close-link {
	float:right;
	background:url("../images/close.png") no-repeat center center;
}
div.uhtt-browser-box {
	display:none;
	margin:0 auto;
	padding:0 10px 10px;
	border:1px solid #BFBFBF;
	border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	-webkit-border-radius:0 0 4px 4px;
}

.xtree, .xtree ul {
	list-style: none;
	user-select:         none;
	-moz-user-select:    none;
	-webkit-user-select: none;
}
.xtree ul {
	padding: 0;
	margin-top: 0;
	margin-left: 20px;
	margin-right: 0;
	margin-bottom: 0;
}
div.xtree-hitarea {
	height: 20px;
	width: 16px;
	margin-left: -16px;
	float: left;
	vertical-align: middle;
}
div.xtree-hitarea-opened {
	background: url(../images/minus.gif) 0 50% no-repeat;
}
div.xtree-hitarea-closed {
	background: url(../images/plus.gif) 0 50% no-repeat;
}
.xtree-item {
	cursor: default;
}
.xtree-item-clicked {
	background-color: #336699;
	color: white;
}
div.xtree-item-container {
	white-space: nowrap;
}
img.xtree-item-img {
	float: left;
}
div.xtree-item-text-blk {
	display: block;
	padding: 3px;
}
span.xtree-item-text {
	font: 8pt Tahoma;
	padding: 2px;
}
span.xtree-item-text:hover {
	color: #104E8B;
	text-decoration: underline;
}
span.xtree-item-clicked:hover {
	color: white;
}


/*********************************************
 *   Universe-HTT UI CSS            *
 *********************************************/
 
.w1020px { 
	width: 1020px 
}
.w760px { 
	width: 760px 
}
.w250px { 
	width: 250px 
}

.uui-w100pct {
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.uui-h100pct {
	height: 100%;
}

.uui-float-left { float: left; }
.uui-float-right { float: right; }

.uui-table-cell {
	display: table-cell;
}

.uui-valign-top {
	vertical-align: top;
}
.uui-valign-mid {
	vertical-align: middle;
}
.uui-valign-bottom {
	vertical-align: bottom;
}

.uui-padding-0 {
	padding: 0;
}

.uui-helper-clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.uui-helper-box-sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.uui-green-text {
	color: green;
}

.uui-red-text {
	color: red;
}

.uui-blue-text {
	color: blue;
}

.uui-text-align-left {
	text-align: left;	
}

.uui-text-align-right {
	text-align: right;	
}

.uui-text-align-center {
	text-align: center;	
}

.uui-select-none {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#uui_dd_blk {
	position: absolute;
	display: none;
	z-index: 1000;
}
.uui-dd-menu {
	list-style-type: none;
	background: url("/rsrc/images/application/menu_bg.png") repeat-x scroll 0 0 #CCC9C9;
	border-color: #AEAFB1 #777879 #777879 #AEAFB1;
	border-image: none;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	padding: 2px 0;
	margin: 0;
}
.uui-dd-menu li {
	border-bottom: 1px solid #BCBBBB;
	border-top: 1px solid #EEEEEE;
	display: block;
	margin: 0;
	padding: 0;
	cursor: pointer;
}
.uui-dd-menu li:first-child {
	border-top: none;
}
.uui-dd-menu li:last-child {
	border-bottom: none;
}
.uui-dd-menu li a {
	color: #2C2F34;
	display: block;
	padding: 4px 5px;
	text-decoration: none;
	font-weight: bold;
}
.uui-dd-menu li a:hover {
	background-color: #5B677D;
	color: #FFFFFF;
	text-shadow: -1px -1px #2C2F34;
}
/*
	Special styles for tsession
*/
div.tsess-time {
	font-face: sans-serif;
	font-variant: normal;
	font-size: medium;
	font-weight: 700;
}
div.tsess-descr {
	font-face: helvetica;
	font-variant: normal;
	font-size: medium;
	font-weight: normal;
}
div.tsess-prcname {
	font-face: helvetica;
	font-variant: normal;
	font-size: large;
	font-weight: normal;
}
